QPushButton {
    background: transparent;
    border: none;
    font-size: 11pt;
    color: $DARK_MUTED_TEXT;
}
QPushButton:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
