#[submodule "backend/src/models/R3GAN"]
#	path = backend/src/models/R3GAN
#	url = https://github.com/brownvc/R3GAN.git
#[submodule "backend/src/models/sd3.5"]
#	path = backend/src/models/sd3.5
#	url = https://github.com/Stability-AI/sd3.5.git
#[submodule "backend/src/models/MetaCLIP"]
#	path = backend/src/models/MetaCLIP
#	url = https://github.com/facebookresearch/MetaCLIP.git
[submodule "vendor/EfficientLoFTR"]
	path = vendor/EfficientLoFTR
	url = https://github.com/ACFHarbinger/EfficientLoFTR
[submodule "vendor/JamMa"]
	path = vendor/JamMa
	url = https://github.com/ACFHarbinger/JamMa
[submodule "vendor/BiRefNet"]
	path = vendor/BiRefNet
	url = https://github.com/ACFHarbinger/BiRefNet.git
[submodule "submodules/ComfyUI"]
	path = vendor/ComfyUI
	url = https://github.com/ACFHarbinger/ComfyUI.git
[submodule "submodules/Recommendation-Engine"]
	path = submodules/Recommendation-Engine
	url = https://github.com/ACFHarbinger/Recommendation-Engine.git
[submodule "vendor/Hugin"]
	path = vendor/Hugin
	url = https://github.com/ACFHarbinger/Hugin.git
[submodule "vendor/OpenCV"]
	path = vendor/OpenCV
	url = https://github.com/ACFHarbinger/OpenCV.git
[submodule "vendor/Overmix"]
	path = vendor/Overmix
	url = https://github.com/ACFHarbinger/Overmix.git
[submodule "submodules/Cel-Shaded-Generator"]
	path = submodules/Cel-Shaded-Generator
	url = https://github.com/ACFHarbinger/Cel-Shaded-Generator.git
[submodule "submodules/Anime-Stitch-Pipeline"]
	path = submodules/Anime-Stitch-Pipeline
	url = https://github.com/ACFHarbinger/Anime-Stitch-Pipeline.git
