#[submodule "backend/src/models/R3GAN"]
#	path = backend/src/models/R3GAN
#	url = https://github.com/brownvc/R3GAN.git
#[submodule "backend/src/models/sd3.5"]
#	path = backend/src/models/sd3.5
#	url = https://github.com/Stability-AI/sd3.5.git
#[submodule "backend/src/models/MetaCLIP"]
#	path = backend/src/models/MetaCLIP
#	url = https://github.com/facebookresearch/MetaCLIP.git
[submodule "vendor/EfficientLoFTR"]
	path = vendor/EfficientLoFTR
	url = https://github.com/ACFHarbinger/EfficientLoFTR
[submodule "vendor/JamMa"]
	path = vendor/JamMa
	url = https://github.com/ACFHarbinger/JamMa
[submodule "vendor/BiRefNet"]
	path = vendor/BiRefNet
	url = https://github.com/ACFHarbinger/BiRefNet.git
[submodule "vendor/Hugin"]
	path = vendor/Hugin
	url = https://github.com/ACFHarbinger/Hugin.git
[submodule "vendor/OpenCV"]
	path = vendor/OpenCV
	url = https://github.com/ACFHarbinger/OpenCV.git
[submodule "vendor/Overmix"]
	path = vendor/Overmix
	url = https://github.com/ACFHarbinger/Overmix.git
[submodule "vendor/ComfyUI"]
	path = vendor/ComfyUI
	url = https://github.com/ACFHarbinger/ComfyUI.git

# Personal Submodules
[submodule "submodules/CRE"]
	path = submodules/CRE
	url = https://github.com/ACFHarbinger/Content-Recommendation-Engine.git
[submodule "submodules/CSG"]
	path = submodules/CSG
	url = https://github.com/ACFHarbinger/Cel-Shaded-Generator.git
[submodule "submodules/ASP"]
	path = submodules/ASP
	url = https://github.com/ACFHarbinger/Anime-Stitch-Pipeline.git
[submodule "submodules/HIE"]
	path = submodules/HIE
	url = https://github.com/ACFHarbinger/Hybrid-Image-Editor.git
[submodule "vendor/UDIS2"]
	path = vendor/UDIS2
	url = https://github.com/nie-lang/UDIS2.git
[submodule "vendor/MoVerse"]
	path = vendor/MoVerse
	url = https://github.com/Orange-3DV-Team/MoVerse.git
[submodule "vendor/APAP"]
	path = vendor/APAP
	url = https://github.com/EadCat/APAP-Image-Stitching.git
