#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Image Toolkit
Comment=Image database and edit toolkit
Exec=Image-Toolkit/dist/ImageToolkitApp # <--- Full path to the executable!
Icon=Image-Toolkit/assets/images/ImageToolkit.png # <--- Full path to the icon file!
Terminal=false
Type=Application
Categories=Utility;Graphics;